<style>

  .card {
    background: #fff;
    border-radius: 0.55rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: 0.5s;
  }

  .chat-app {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }

  .chat {
    display: flex;
    flex-direction: column;
    height: 650px;
  }

  .chat-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f4f7f6;
  }

  .chat-header img {
    border-radius: 50%;
    width: 40px;
  }

  .chat-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  .chat-about h6 {
    margin: 0;
  }

  .chat-history {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }

  .chat-history ul {
    padding: 0;
    margin: 0;
  }

  .chat-history ul li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .message-data {
    display: flex;
    align-items: center;
  }

  .message-data img {
    border-radius: 50%;
    width: 40px;
  }

  .message {
    background: #e8f1f3;
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    max-width: 60%;
  }

  .my-message {
    background: #efefef;
    align-self: flex-start;
  }

  .other-message {
    background: #e8f1f3;
    align-self: flex-end;
    text-align: right;
  }

  .chat-message {
    padding: 15px;
    border-top: 1px solid #f4f7f6;
  }

  .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .input-group input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .input-group .btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .input-group .btn:hover {
    background-color: #45a049;
  }

  @media only screen and (max-width: 767px) {
    .chat-history {
      height: 300px;
    }
  }
</style>

<div class="container">
  <div class="card chat-app">
    <div class="chat">
      <div class="chat-header">
        <div class="chat-about">
          <h6>Aiden Chavez</h6>
          <small>Last seen: 2 hours ago</small>
        </div>
      </div>

      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data">
              <div class="message other-message">Hi Aiden, how are you?</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="message-data">
              <div class="message my-message">Are we meeting today?</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="message-data">
              <div class="message my-message">
                Project has been finished and I have results to show you.
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="chat-message">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter text here..."
          />
          <button class="btn"><i class="fa fa-send"></i> Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
